<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <!--Change the connection string parameters with your database credentials-->
    <add name="WeShareConnectionString" connectionString="Data Source=SRAVI-PC;Initial Catalog=WeShare;User ID=sa;Password=sqlserver"
       />
  </connectionStrings>
</configuration>
